<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="daoService" class="com.alcatel_lucent.dms.service.DaoServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="dictionaryService" class="com.alcatel_lucent.dms.service.DictionaryServiceImpl">
		<property name="dao">
			<ref bean="daoService" />
		</property>
	</bean>
	
	<bean id="textService" class="com.alcatel_lucent.dms.service.TextServiceImpl">
		<property name="dao">
			<ref bean="daoService" />
		</property>
	</bean>
	
	<bean id="languageService" class="com.alcatel_lucent.dms.service.LanguageServiceImpl">
		<property name="dao">
			<ref bean="daoService" />
		</property>
	</bean>

</beans>