/*
*	COMMON LAYOUT PANE FORMATTING
*/
/* outer pane class */
.pane, .ui-layout-pane {
    /* inner pane class */
    background-color: #FFF;
    border: 1px solid #777;
    padding: 0; /* alignment & padding is on the inner-divs */
    overflow: auto; /* will be auto-set to 'hidden' for any pane with a 'scrolling content div' */
}

/*
*	OUTER-LAYOUT PANE FORMATTING
*/
.pane-north, .pane-south, .pane-west, .pane-east {
    overflow: hidden;
}

.pane-north {
    border-bottom: none;
}

.pane-north .content, .pane-south .content {
    text-align: center;
}

.pane-center {
    /* show off the inner-layout inside the outer-center-pane*/
    background-color: #F6F6F6;
    /*padding: 15px; *//* for outer layout */
}

/* inner divs inside Outer East/West panes */
.header {
    background: #80ade5 url(../jqueryLayout/images/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
    border-bottom: 1px solid #777;
    font-weight: bold;
    text-align: center;
    padding: 2px 0 4px;
    position: relative;
    overflow: hidden;
}

.subhead, .footer {
    background: #d6d6d6 url(../jqueryLayout/images/d6d6d6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
    padding: 3px 10px;
    font-size: 0.85em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.subhead {
    border-bottom: 1px solid #777;
}

.footer {
    border-top: 1px solid #777;
}

#mainContent .footer {
    border-top: 1px solid #BBB;
}

.content {
    padding: 10px;
    position: relative;
    overflow: auto;
}

/*
*	OUTER LAYOUT RESIZERS & TOGGLERS
*/

/* north-pane is not resizable
.resizer-north-dragging ,
.resizer-north:hover		{ background: url(images/resizable-n.gif) repeat-x center; }*/
.resizer-south-dragging, .resizer-south:hover {
    background: url(../jqueryLayout/images/resizable-s.gif) repeat-x center;
}

.resizer-west-dragging, .resizer-west-open:hover {
    background: url(../jqueryLayout/images/resizable-w.gif) repeat-y center;
}

.resizer-east-dragging, .resizer-east-open:hover {
    background: url(../jqueryLayout/images/resizable-e.gif) repeat-y center;
}

.resizer-west-open, .resizer-east-open {
    background-color: #999;
    opacity: 0.1;
    filter: alpha(opacity = 10);
}

.resizer-west-open:hover, .resizer-east-open:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.resizer-dragging {
    /* see draggable.opacity option
     opacity: 0.5;
     filter: alpha(opacity=50);
     */
}

.resizer-dragging-limit {
    background: #FF3300 !important;
}

/* IE6 * HACK - always show resizer graphics because IE6 cannot understand elem:hover */
/** html .resizer-north		{ background: url(images/resizable-n.gif) repeat-x center !important; } */
* html .resizer-south {
    background: url(../jqueryLayout/images/resizable-s.gif) repeat-x center !important;
}

* html .resizer-west-open {
    background: url(../jqueryLayout/images/resizable-w.gif) repeat-y center !important;
}

* html .resizer-east-open {
    background: url(../jqueryLayout/images/resizable-e.gif) repeat-y center !important;
}

/** html .resizer-north , */
* html .resizer-south, * html .resizer-west-open, * html .resizer-east-open {
    opacity: 0.1 !important;
    filter: alpha(opacity = 10) !important;
}

/*
*	SIMPLE TOGGLER BUTTONS (used on Outer Layout North/South only)
*/

.toggler-north-open, .toggler-south-closed {
    background: url(../jqueryLayout/images/toggle-up.gif) no-repeat center bottom;
}

.toggler-north-closed, .toggler-south-open {
    background: url(../jqueryLayout/images/toggle-dn.gif) no-repeat center top;
}

/*
.toggler-east-closed ,
.toggler-west-open    { background: url(images/toggle-lt.gif) no-repeat center right; }
.toggler-west-closed ,
.toggler-east-open    { background: url(images/toggle-rt.gif) no-repeat center left; }
*/

/*
*	extJS-STYLE RESIZER/SLIDER-BAR (CLOSED)
*/
.resizer-west-closed, .resizer-east-closed {
    background: #D1E6FC url(../jqueryLayout/images/D1E6FC_40x100_textures_10_dots_medium_90.png) 0 0 repeat;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.resizer-west-closed:hover, .resizer-east-closed:hover {
    background: #D1E6FC;
}

/*
*	NORTH PANE TOOLBAR & BUTTONS
*/

ul.toolbar {
    position: relative;
    overflow: hidden; /* required to CONTAINER 'floating li' in FF */
    height: auto;
    margin: 0;
    padding: 2px;
    width: 100%;
    list-style: none;
    text-align: left;
    background: #D6D6D6 url(../jqueryLayout/images/d6d6d6_40x100_textures_02_glass_80.png) 0 50% repeat-x;
    border-top: 1px solid #BBB;
    /*border: 1px solid red;*/
}

ul.toolbar li {
    font-size: 0.9em;
    margin: 0;
    padding: 2px 7px;
    float: left;
    color: #000;
    border: 1px solid transparent;
    border-right-color: #BBB;
    cursor: pointer;
}

ul.toolbar li:hover {
    color: #005;
    background: #EEE url(../jqueryLayout/images/eeeeee_40x100_textures_02_glass_90.png) 0 50% repeat-x;
    border-top-color: #BBB;
    border-bottom-color: #BBB;
}

ul.toolbar li.first:hover {
    border-left-color: #BBB;
}

ul.toolbar li span {
    /* icons in toolbar */
    width: 15px;
    height: 15px;
    margin-left: -3px;
    margin-right: 0.75ex;
    vertical-align: middle;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    display: block;
    display: inline-block;
}

ul.toolbar li:hover span {
    opacity: 1;
    filter: alpha(opacity = 100);
}

li.button-toggle-north span, li.button-open-south span {
    background: url(../jqueryLayout/images/go-up-on.gif) no-repeat center;
}

li.button-close-south span {
    background: url(../jqueryLayout/images/go-dn-on.gif) no-repeat center;
}

li.button-pin-up span {
    background: url(../jqueryLayout/images/pin-up-on.gif) no-repeat center;
}

li.button-pin-down span {
    background: url(../jqueryLayout/images/pin-dn-on.gif) no-repeat center;
}

/*
 *	extJS-STYLE TOGGLE & PIN BUTTONS
 *
 *	these 'extra buttons' are INSIDE the east/west panes
 */

/* CUSTOM pin/close buttons */
span.button-pin, span.button-close {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 2;
    display: block;
    cursor: pointer;
}

span.button-close-west {
    left: 0;
}

span.button-close-east {
    right: 0;
}

span.button-pin-west {
    right: 1px;
}

span.button-pin-east {
    left: 1px;
}

/* CUSTOM pin-buttons */
span.button-pin-up {
    background: url(../jqueryLayout/images/pin-up-off.gif) no-repeat center;
}

span.button-pin-up:hover {
    background: url(../jqueryLayout/images/pin-up-on.gif) no-repeat center;
}

span.button-pin-down {
    background: url(../jqueryLayout/images/pin-dn-off.gif) no-repeat center;
}

span.button-pin-down:hover {
    background: url(../jqueryLayout/images/pin-dn-on.gif) no-repeat center;
}

/* CUSTOM close-buttons */
span.button-close-west {
    background: url(../jqueryLayout/images/go-lt-off.gif) no-repeat center;
}

span.button-close-west:hover {
    background: url(../jqueryLayout/images/go-lt-on.gif) no-repeat center;
}

span.button-close-east {
    background: url(../jqueryLayout/images/go-rt-off.gif) no-repeat center;
}

span.button-close-east:hover {
    background: url(../jqueryLayout/images/go-rt-on.gif) no-repeat center;
}

/* STANDARD toggler-buttons - when the east/west panes are 'closed' */
.toggler-west-closed {
    background: url(../jqueryLayout/images/go-rt-off.gif) no-repeat center;
}

.toggler-west-closed:hover {
    background: url(../jqueryLayout/images/go-rt-on.gif) no-repeat center;
}

.toggler-east-closed {
    background: url(../jqueryLayout/images/go-lt-off.gif) no-repeat center;
}

.toggler-east-closed:hover {
    background: url(../jqueryLayout/images/go-lt-on.gif) no-repeat center;
}

