@import "jqueryLayout/layout-default-latest.css";
@import "jqueryLayout/dmslayout.css";

/* Using an 'optional-container' instead of 'body', so need body to have a 'height' */

/*
*	GENERAL COSMETICS
*/

html, body {
    height: 100%;
    /*padding: 0 0 20px;*/
    margin: 0;
    font-family: Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif, '宋体';
    /*font-size: 100%;*/
    font-size: 10px;
    background-color: #EEE;

    overflow: hidden !important;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 1em 0 0.75em;
    page-break-after: avoid;
}

h2 {
    color: navy;
    font-size: 1.2em;
    font-weight: bold;
    margin: 1.25em 0 0.75em;
    page-break-after: avoid;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 1ex;
    white-space: nowrap;
    page-break-after: avoid;
}

p {
    margin: 1ex 0;
}

code {
    font-size: 1.1em;
    margin: 0;
}

pre {
    margin: 1em 0 1em 1em;
}

ul {
    /* give whitespace at bottom for FF */
    padding: 0 0 20px;
    margin: 0;
    list-style-type: square;
}

li {
    padding: 0;
    margin: 0.5ex 0 0.5ex 1.2em;
}

table {
    border-color: #666;
}

th {
    background-color: #EEE;
    padding: 4px 7px 5px;
    border-color: #666;
}

td {
    padding: 2px 7px 3px;
    border-color: #666 #CCC;
}

#optional-container {
    width: 100%;
    height: 100%;
}

.editable-column {
    background: #f0ffff
}

.page-title {
    font-family: Trebuchet MS, Verdana, Arial, Helvetica;
    font-size: 14pt;
    font-style: normal;
}

.dms_appmng_panel {
    /*border: 1px solid red;*/
    /*text-align: left;*/
    vertical-align: middle;
    height: 99%;
}

/* for navigator*/
.navigator-bar {

}

.navigator-button {
    width: 150px;
}

.navigator-tab-image {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.navigator-tab-title .navigator-tab-title-currentpage {
    font-family: Trebuchet MS, Verdana, Arial, Helvetica;
    font-size: 12pt;
}

.navigator-tab-title-currentpage {
    font-weight: bold;
    color: purple;
}

.progressbar-container {
    width: 1000px;
    height: 50px;
    padding: 0.5em;
}
.progressbar {
    width: 100%;
}

.progressbar-label {
    float: left;
    margin-left: 47%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
