<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="daoService" class="com.alcatel_lucent.dms.service.DaoServiceImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="dictionaryService" class="com.alcatel_lucent.dms.service.DictionaryServiceImpl">
        <property name="dao">
            <ref bean="daoService"/>
        </property>
    </bean>

</beans>